.profile-image {
    width: 130px;
    height: 100%;
    margin: auto;
    position: relative;
}

.profile-image .image{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}
.profile-image .edit-btn{
    top: 5px;
    right: 5px;
    position: absolute;
    text-align: center;
}