.testQuestionBtn-container{
  padding-right: 8px;
  padding-bottom: 12px;
}
.testQuestionBtn{
  width: 100%;
}
.mb-30{
  margin-bottom: 30px;
}
.mt-15{
  margin-top: 15px;
}
.align-center{
  text-align: center;
}



$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
//@media (max-width: $lg) {
.timer{
  text-align: center;
}
//}