.gradient-bg{
    background-image: linear-gradient(to top right, #355c7d, #c06c84);
    min-height: 100vh;
}
@media only screen and (max-device-width: 576px) {
    .gradient-bg{
        padding: 0;
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px){
    .gradient-bg{
        padding: 5% 5%;
    }
}
@media only screen and (min-device-width: 768px) {
    .gradient-bg{
        padding: 5% 15%;
    }
}

.new-login-form .ant-card-body{
    margin: 0!important;
    padding: 0!important;
}

.new-login-form .radiusless-card {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.new-login-form .transparent-bg{
    background: transparent;
}

.new-login-form .infographic-body, .new-login-form .signin-form{
    display: table;
}
.new-login-form .infographic-body > *, .new-login-form .signin-form > *{
    display: table-cell;
    vertical-align: middle;}

.new-login-form .infographic{
    /*min-height: 80vh;*/
    /*height: 80vh;*/
    padding: 20px;
    background: url('http://hdlatestwallpaper.com/?edmc=22145') no-repeat center;
    background-size: cover;
}
.new-login-form .infographic-body{
    padding: 100px 25px;
    width: 100%;
    height: 100%;
}
.new-login-form .infographic-body > *{
    font-family: 'Lato', sans-serif;
}
.new-login-form .infographic-body .title{
    font-weight: 900;
    color: #fff;
}
.new-login-form .infographic-body .description{
    font-weight: 300;
    color: #fff;
    width: 75%;
    margin-top: 45px;
    margin-bottom: 25px;
}
.new-login-form .infographic-body .link {
    color: #fff;
}
.new-login-form .infographic-body .link:hover, .new-login-form .infographic-body .link:focus {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    color: rgba(255, 255, 255, 0.65);
}

.new-login-form .signin-form{
    height: 100%;
    background-color: #fff;
}