.page-wrapper {
    margin: 0;
    padding: 0;
}

.page-left {
    min-height: 100vh;
    display: grid;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../../main-bg.jpg');
    background-size: cover;
}

.page-left h1{
    font-size: 2.4em;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2rem;
}

.page-left p {
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 3rem;
}

.page-right {
    min-height: 100vh;
    display: grid;
}

.page-left .content {
    position: relative;
    top: 10%;
    padding: 30px;
}

.page-left .logo-container {
    position: relative;
    padding: 30px;
}

.page-right .right-form-container {
    position: relative;
    top: 20%;
    margin: auto 10%;
}

.page-right .login-form {
    margin: auto;
}
.page-right .login-form-forgot {
    float: right;
}
.page-right .login-form-button {
    width: 100%;
}
.page-right h1{
    background: -webkit-linear-gradient(45deg, #40a9ff, #3d6a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}