.registration {
  background-color: #f0f2f5; }
  .registration .reg-header .reg-header-content, .registration .reg-header .reg-footer-content, .registration .reg-footer .reg-header-content, .registration .reg-footer .reg-footer-content {
    display: table-cell;
    vertical-align: middle; }
  .registration .reg-header h1, .registration .reg-header h2, .registration .reg-header h3, .registration .reg-header h4, .registration .reg-header h5, .registration .reg-header h6, .registration .reg-header p, .registration .reg-footer h1, .registration .reg-footer h2, .registration .reg-footer h3, .registration .reg-footer h4, .registration .reg-footer h5, .registration .reg-footer h6, .registration .reg-footer p {
    color: rgba(255, 255, 255, 0.9); }
  .registration .reg-header h1, .registration .reg-footer h1 {
    font-size: 2rem; }
  .registration .reg-header > .ant-card-body {
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("http://www.heydaraliyevcenter.az/files/backgrounds/131369311720230513.jpg") center top/cover no-repeat;
    text-align: center;
    display: table;
    width: 100%; }
  .registration .reg-footer > .ant-card-body {
    min-height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("http://www.heydaraliyevcenter.az/files/backgrounds/131369311720230513.jpg") center bottom/cover no-repeat;
    text-align: center;
    display: table;
    width: 100%; }
